
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
   
</head>
<body>
    <div align="center">
        <h1 style="color:red">Calculadora + completa</h1>
        <!-- este objeto envia os dados do formulario para o servidor -->
        <!-- este comentario aparece no cliente (browser) -->
        @* mas este cometario ja nao aparece... *@
        <form method="post">

            <table class="alert-danger">
                <tr>
                    <td colspan="5">
                        <input type="text" style="font-size:50px; width:407px; height:60px; text-align:right" name="visor" value="@ViewBag.Visor" class="form-control" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="7" name="bt" class="btn-dark" />
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="8" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="9" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value=":" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="+/-" name="bt"  class="btn-dark"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="4" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="5" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="6" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="x" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="C" name="bt"  class="btn-danger"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="1" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="2" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="3" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="-" name="bt"  class="btn-dark"/>
                    </td>
                    <td rowspan="2">
                        <input style= "font-size:50px; width:80px; height:162px;" type="submit" value="=" name="bt"  class="btn-dark"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input style="font-size:50px; width:162px; height:80px;" type="submit" value="0" name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="," name="bt"  class="btn-dark"/>
                    </td>
                    <td>
                        <input style="font-size:50px; width:80px; height:80px;" type="submit" value="+" name="bt"  class="btn-dark"/>
                    </td>
                </tr>

            </table>

        </form>



    </div>
</body>
</html>
